<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="uService" class="com.springs.aop.beforeAdvice.UserService">
	 	<property name="userName" value="admin" />
	 	<property name="pass" value="admin@1234" />
	</bean>


	<bean id="beforeBean" class="com.springs.aop.beforeAdvice.BeforeMethodImpl" />

	<bean id="serviceProxy"
                 class="org.springframework.aop.framework.ProxyFactoryBean">

		<property name="target" ref="uService" />

		<property name="interceptorNames">
			<list>
				<value>beforeBean</value>
			</list>
		</property>
	</bean>
</beans>