<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean 
		id="registerService" 
		class="Ex9constrInjectMap.RegistrationService">
		<constructor-arg>
			<map>
				<entry key="config1" value="user1" ></entry>
				<entry key="config2" value="user2"></entry>
				<entry key="config3" value="user3"></entry>
			</map>
		</constructor-arg>

	</bean>
	
	 <!--  For resolving map as dependency 
       use  <map> tag with multiple <entry> tags.
       every <entry> tag has key and value as attributes.
	 -->
	
	<!-- spring create the obj for RegistrationService.
	      Springs creates a map and adds the entries {config1:user1} , {config2:user2} , {config3:user3}
	      to the map.
	      
	      Springs will set the map for "props" inside the  RegistrationService obj. 
	       Map<String,String> props = new HashMap<>();
	        props.put("config1","user1");
	        props.put("config2","user2");
	        props.put("config3","user3");
   
	 -->
</beans>