<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="uService" class="Ex7constrInjectlist.UserService">
		<constructor-arg value="admin" ></constructor-arg>
		
		<constructor-arg>
			<list>
				<value>testsys1</value>
				<value>testsys2</value>
				<value>sandbox</value>
				<value>dbsys</value>
				<value>server</value>
				<value>live</value>
			</list>
		</constructor-arg>
		
	</bean>
	
	  <!--  For resolving list as dependency 
       use  <list> tag with multiple <value> tags.
	 -->
	
	<!-- spring create the obj for UserService and set the "admin" for userName.
	      Springs creates a list and adds the srings  "testsys1" , "testsys2"  ,"sandbox" ,  "dbsys" , "live"
	      to the list.
	      
	      Springs will set the list for "envs" inside the  UserService obj. 
	      
        Lis<String> envs = new ArrayList<>();
        envs.add("testsys1");
        envs.add("testsys2");
	    envs.add("sandbox");
        envs.add("testsys1");
        envs.add("dbsys");
        envs.add("live");
   
	 -->
	
</beans>