<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="aService"
		class="com.springs.autowireAutoDetect.AccountService"
		autowire="autodetect" />

	<bean id="dao" class="com.springs.autowireAutoDetect.DaoImpl"
		scope="prototype">
		<property name="config" value="SQLserver1" />
	</bean>

	<bean id="dao1" class="com.springs.autowireAutoDetect.DaoImpl"
		scope="prototype">
		<property name="config" value="SQLserver" />
	</bean>


</beans>