<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="customerDAO"
	 class="com.springs.di.setter.RefIntf.CustomerDAO" />
	
	<bean id="productDao" 
	class="com.springs.di.setter.RefIntf.ProductDao" />

	<bean id="registerService" 
		class="com.springs.di.setter.RefIntf.RegistrationService">
		<property name="config" value="myConfig" />
		<property name="dao" ref="productDao" />
	</bean>

</beans>