<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


<bean id="control" class="issue.ProductController" />
 <bean id="service" class="issue.ProductService" />
  <bean id="dao" class="issue.ProductDao" />
  <bean id="helper" class="issue.ProductHelper" />
</beans>