<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="uService" class="Ex14scopes.UserService" scope="prototype">
		<constructor-arg value="admin" />
		<constructor-arg value="admin122" />
	</bean>
	
	<bean id="rService" class="Ex14scopes.RegistrationService"  scope="singleton">
		<constructor-arg value="rTesting" />
	</bean>
		
</beans>