<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="aService" 
		class="com.springs.di.setterRef.AccountService">
		<property name="dbName" value="SQLserver" />
	</bean>

	<bean id="uService" 
		class="com.springs.di.setterRef.UserService">
		<property name="userName" value="System" />
		<property name="accountService" ref="aService"/>
	</bean>

</beans>