<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="aService" 
	class="Ex6constrInject.AccountService">
	 	 	<constructor-arg value="Oracle"></constructor-arg>
	</bean>
	<!-- spring create the obj for AccountService and set the "Oracle" for dbName. -->
	
	
	<bean id="uService" 
	class="Ex6constrInject.UserService">
		<constructor-arg value="admin"></constructor-arg>
		<constructor-arg ref="aService" />
	</bean>


 <!-- spring create the obj for UserService and set the "admin" for userName and 
       " aService" for accountService.
  -->
	<bean id="pService" 
	class="Ex6constrInject.ProductService">
	 	 <constructor-arg ref="aService" />
	</bean>
	
	  <!-- spring create the obj for ProductService and set the " aService" for accountService.   -->

		<!--  For resolving obj as dependency 
       use   ref attribute along with <constructor-arg> tag
	 -->
	 
</beans>